.filters {
  @include rowCenterContent();
  gap: 4rem;

  @media all and (max-width: 700px) {
    flex-direction: column;
    height: 10rem;
    gap: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}